body{
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
}

#container{
    max-width: 300px;
    margin: 200px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    

}
.btn{
    background-color:skyblue;
    text-align: center;
    width: 200px;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    
    
}
#text{
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    color: #007bff;
    background-color: lightgrey;
    
}

.btn:hover{
    background-color: #007bff;
}
